body {
    margin: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border: 8px solid #f2ebfb;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #d4bbfc;
    color: #47026c;
    border-bottom: 10px solid #9667e0;
    border-left: 10px solid #9667e0;
    border-radius: 10px;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

